/* font-family: 'Lato', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
color: var(--gray-900, #1E212C);
font-family: Lato;
font-size: 46px;
font-style: normal;
font-weight: 900;
line-height: 130%;

}
h3{
color: var(--gray-700, #787A80);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
button{
border-radius: 4px;
background: var(--primary, #7772F1);
padding: 10px   40px;
color:white;
text-align: center;
background-color: var(--primary, #7772F1);
border-width: 2px;
border-color: var(--primary, #7772F1);   
}






/***************************HEADER****************************/
.container{
    padding: 0  345px;
    font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
.header {
    background-image: url(index_img/background.jpg);
    background-size: cover;
    height: 1080px;
    position: relative;
}
.nav_line {
    display: flex;
    padding-top: 33px;
    align-items: center;
    justify-content: space-between;
}
.nav_image {
    padding-right: 60px;
}
.header_text_and_butt{
    display: flex;
    justify-content: space-between;
}
.nav_logo {
}
.nav_text {
    display: flex;
    gap: 40px;
     color: var(--white, #FFF);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; 
opacity: 0.6000000238418579;
}
.nav {
    color: var(--white, #FFF);
}
.nav_button {
    border-radius: 4px;
background: var(--primary, #7772F1);
padding: 10px   40px;
color:white;
    text-align: center;
    background-color: var(--primary, #7772F1);
    border-width: 2px;
    border-color: var(--primary, #7772F1);
}
.text_and_butt_header{
   display: flex;
    justify-content: right;  
}
.header_title {
    margin-top: 200px;
    color: white;
font-family: Lato;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 130%;
letter-spacing: 1px;
width: 810px;
}
.header_title span{
    color:#7772F1;
}
.header_buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.GAFA {
    border-radius: 4px;
border: 1px solid var(--white, #FFF);
background-color: transparent;               /*прозрачность кнопки */
padding: 10px   40px;
color: #FFF;
}
.play_vid {
    display: flex;
    align-items: center;
    color: #FFF;
}
.play_video_img {
}
.play_video_txt {
}
.header_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 400px;
}
.header_card {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header_card_img {
}
.header_card_text {
    color: #FFF;
}
.header_title_and_illustr{
    display: flex;
}
.header_illustr_img{
    position: absolute;
    width: 590px;
height: 526px;
flex-shrink: 0;
margin-top: 238px ;
z-index: 9;
}



/********************CREATEX AGENCY****************************/
.Createx_agency {
    padding-bottom: 130px;
}
.creat_ag_content {
    margin-top: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c_a_text_zone {
}
.c_a_title {
margin-bottom: 40px;
}
.c_a_text {
    width: 390px;
margin-bottom: 48px;
}
.c_a_figures{
    margin-top: 180px;
    text-align: center;
}
/**************************OUR_SERVICES************************/
.Our_Services {
padding-bottom: 180px;
}
.Our_Services_title {
    text-align: center;
    margin-bottom: 50px;
}
.Our_Services_nav_line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.Our_Services_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Our_Services_text_zone_title {
    width: 390px;
    font-size: 28px;
    margin-bottom: 24px;
}
.Our_Services_text_zone_text_ALL{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.Our_Services_text_zone_buttons {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

/****************************Get_a_free_seo_analysis*********************************************/

.Get_a_free_seo_analysis {
    background-color:#1E212C;
    background-size: cover;
    padding: 80px   0;
}
.Get_a_free_seo_analysis_ALL {
    display: flex;
    justify-content: space-between;
}
.Get_a_free_seo_analysis_left_side {
}
.Get_a_free_seo_analysis_image {
}
.Get_a_free_seo_analysis_img {
}
.Get_a_free_seo_analysis_right_side {
}
.Get_a_free_seo_analysis_title {
color: var(--white, #FFF);
margin-bottom: 40px;
}
.Get_a_free_seo_analysis_form {
}
.G_form_name {
}
.G_form_email {
}
.G_form_name_window{
    width: 285px;
    padding: 13px 16px;
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.12);
}
.G_form_email_window{
    width: 285px;
    padding: 13px 16px;
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.12);
}
.G_form_URL_window{
    width: 600px;
    padding: 13px 16px;
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.12);
}
.name_and_email{
    margin-top: 40px;
    margin-bottom: 24px;
    display:flex;
    gap: 30px;
}
.G_form_checkbox_all{
    display:flex;
    gap: 12px;
    align-items: baseline;
}
.checkbox_text{
    width: 287px;
}
.checkbox_and_submit{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}    
.sub_btn_G{
    border-radius: 4px;
background: var(--primary, #7772F1);
padding: 10px   40px;
color:white;
    text-align: center;
    background-color: var(--primary, #7772F1);
    border-width: 2px;
    border-color: var(--primary, #7772F1);
}
/*****************************Freequently_Ask_Questions******************/
.Freequently_Ask_Questions {
    padding-top: 180px;
    padding-bottom: 120px;
}
.Freequently_Ask_Questions_all_sides {
    display: flex;
    justify-content: space-between;
}
.Freequently_Ask_Questions_left_side {
}
.Freequently_Ask_Questions_title {
    padding-bottom: 60px;
}
.Freequently_Ask_Questions_all_text {
}
.Freequently_Ask_Questions_text_all_punkt{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.Freequently_Ask_Questions_punkt {
    font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%;
padding-bottom: 24px;
}
.Freequently_Ask_Questions_button {
    margin-top: 36px;
}
.Freequently_Ask_Questions_butt {
}
.Freequently_Ask_Questions_right_side {
}
.Freequently_Ask_Questions_img {
}
/***************************Read_our_clients********************************/
.Read_our_clients_case_studies {
    padding-top: 80px;
    padding-bottom: 85px;
    background: var(--gray-200, #F4F5F6);
}
.Read_our_clients_case_studies1st_line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.Read_our_clients_case_studies_title {
}
.slider_controls {
}
.left_arrow {
}
.left_arrow_img {
}
.right_arrow {
}
.right_arrow_img {
    transform: rotate(180deg);
}
.Read_our_clients_case_studies_cards {
    display: flex;
    justify-content: space-between;
}
.Read_our_clients_case_studies_card {
    width: 390px;
height: 390px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid var(--gray-300, #E5E8ED);
background: var(--white, #FFF);
box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.Read_our_clients_case_studies_card_logo {
    padding-top: 24px;
    padding-left: 31px;
    padding-bottom: 8px;
}
.Read_our_clients_case_studies_card_logo_img {
}
.Read_our_clients_case_studies_card_title {
    padding-left: 31px;
    padding-bottom: 20px;
}
.polosa {
   
}
.Read_our_clients_case_studies_card_text {
    padding-top: 20px;
    padding-left: 31px;
    width: 310px;
height: 75px;
}
.Read_our_clients_case_studies_card_graphics {
    padding-left: 31px;
    padding-top: 78px;
}
.Read_our_clients_case_studies_card_gr_img {
}
.Read_our_clients_case_studies_explore {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}
.Read_our_clients_case_studies_exp_text {
    color: var(--gray-900, #1E212C);
font-family: Lato;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; 

}
.Read_our_clients_case_studies_exp_btn {

}
.b{
    filter: brightness(0%);
}

/****************************Our_benefits***********************************/
.Our_benefits {
    padding-bottom: 100px;
}
.Our_benefits_title {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.Our_benefits_content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.Our_benefits_left_side {
}
.Our_benefits_cards {
}
.Our_benefits_card {
    border-radius: 4px;
border: 1px solid var(--gray-300, #E5E8ED);
background: var(--white, #FFF);
padding: 40px   48px;
    margin-bottom: 24px;
}
.Our_benefits_card_image {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
.Our_benefits_card_img {
}
.Our_benefits_card_title {
    color: var(--gray-900, #1E212C);
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%;
padding-bottom: 8px;
}
.Our_benefits_card_text {
    color: var(--gray-700, #787A80);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    width: 294px;
height: 63px;
}
.Our_benefits_center {
}
.Our_benefits_ilustration {
}
.Our_benefits_right_side {
}
/*************************************price********************************/
.price {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 100px;
}
.price_title {
    margin-bottom: 60px;
}
.price_switch {
}
.price_monthly_cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.price_montly_card {
    width: 390px;
height: 536px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid rgba(119, 114, 241, 0.40);
background: var(--white, #FFF);
box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.price_montly_card_title {
    padding-top: 40px;
    padding-bottom: 8px;
    color: var(--gray-900, #1E212C);
text-align: center;
font-family: Lato;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
}
.price_montly_card_price {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}
.price_motly_card_dollars {
    color: var(--primary, #7772F1);
text-align: center;
font-family: Lato;
font-size: 46px;
font-style: normal;
font-weight: 900;
line-height: 130%; /* 59.8px */
}
.price_montly_card_mon {
    color: var(--primary, #7772F1);
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
}
.polosa{
    margin-bottom: 24px;
    height: 1px;
    background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}
.price_montly_card_all_text {
   display: block;
   padding: 0   98px;
}
.price_montly_card_mark_and_text{
    display: flex;
    gap: 8px;
    justify-content: left;
    padding-bottom: 8px;
    align-items: center;
}
.price_montly_card_mark {
}
.price_montly_card_mark_img {
}
.price_montly_card_text {
}
.price_montly_card_button {
    margin-top: 24px;
}
.g{
    color:#9A9CA5;
}
/*******************************what_our_clients_say************************/
.what_our_clients_say {
}
.what_our_clients_say_title {
    text-align: center;
}
.what_our_clients_say_slider {
    display: flex;
    width: 1020px;
    position: relative;
    overflow: hidden;
    left: 0;
}
.what_our_clients_say_slider_card {
    padding: 64px   105px;
    border-radius: 4px;
background: var(--white, #FFF);
box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
position: relative;
left: 38px;
}
.what_our_clients_say_slider_text {
    text-align: center;
    width: 752px;
}
.what_our_clients_say_slider_image {
}
.what_our_clients_say_slider_img {
}
.all_what_our_clients_say_slider_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}